[Desktop Entry]
Version=1.0
Type=Application
Name=Hand Tracker
Comment=Start the Hand Tracker application
Exec=bash %F
Path=/home/pi/py-hand-tracker
Icon=application-x-executable
Terminal=true
Categories=Application;
